
# How many meters from the roller players can be counted.
# Remember that 4 meters = 1 tile
# Value should be an integer.
# Default: 60
distMeters=60

# Whether to include gms of power 4 or more in rolls
# Note that even set to true it will only include them if they are "visible"
includeGmsInRolls=false

# What the command should be. (not including the # prefix)
# Deafult: choose
# Usage: #choose
# Usage: #choose dragon scales
command=roll